<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
    
</head>
<body class="home">
    <div class="body-container">
        <header>
            <nav>
                <ul class="header-nav-left-links">
                    <li><a href="/"><img src="/img/logo.png" alt="header-img"></a></li>
                    <li><a href="#Smartphones">Smartphones</a></li>
                    <li><a href="#Tablets">Tablets</a></li>
                    <li><a href="#Computadoras">Computadoras</a></li>
                </ul>
                <ul class="header-nav-right-links">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registro</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="main-container">
                <section class="main-section-products">
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-01.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-02.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-03.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-01.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-02.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                    <article class="main-section-products-item">
                        <img src="/img/img-phone-03.jpg" alt="product-img">
                        <h2>Nombre del Producto</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                        <a href="#verMas">Ver más</a>
                    </article>
                </section>
                <aside class="main-aside-tutorials">
                    <section class="aside-section-tutorials">
                        <h2>Tutoriales</h2>
                        <article class="main-aside-tutorials-item">
                            <img src="/img/aside-01.jpg" alt="tutorial-img">
                            <p>Titulo del tutorial de reparación.</p>
                        </article>
                        <article class="main-aside-tutorials-item">
                            <img src="/img/aside-02.jpg" alt="tutorial-img">
                            <p>Titulo del tutorial de reparación.</p>
                        </article>
                        <article class="main-aside-tutorials-item">
                            <img src="/img/aside-03.jpg" alt="tutorial-img">
                            <p>Titulo del tutorial de reparación.</p>
                        </article>
                        <article class="main-aside-tutorials-item">
                            <img src="/img/aside-04.jpg" alt="tutorial-img">
                            <p>Titulo del tutorial de reparación.</p>
                        </article>
                    </section>
                    <section class="aside-section-ads">
                        <h2>Publicidad</h2>
                        <article class="section-ads-imgs">
                            <img src="/img/publicidad1.jpg" alt="ad-img">
                            <img src="/img/publicidad2.jpg" alt="ad-img">
                        </article>
                    </section>
                </aside>
            </div>
        </main>
    </div>
</body>
</html>