<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Craftsy</title>
    
</head>
<body class="login">
    <div class="body-container">
        <header>
            <nav>
                <ul class="header-nav-left-links">
                    <li><a href="/"><img src="/img/logo.png" alt="header-img"></a></li>
                    <li><a href="#Smartphones">Smartphones</a></li>
                    <li><a href="#Tablets">Tablets</a></li>
                    <li><a href="#Computadoras">Computadoras</a></li>
                </ul>
                <ul class="header-nav-right-links">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registro</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <div class="main-container">
                <form class="login-form-wrap" action="">
                    <h2>BIENVENIDO</h2>
                    <label for="login-email">Email</label>
                    <input type="email" name="login-email">
                    <label for="login-password">Contraseña</label>
                    <input type="password" name="login-password">
                    <input type="checkbox" name="login-remember-me"><label for="remember-me">Recordarme</label>
                    <button type="submit" name="login-confirm">Ingresar</button>
                </form>
            </div>
        </main>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>