<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Crafty | Registro</title>
</head>
<body>
    <header>
        <nav>
            <ul class="header-nav-left-links">
                <li><a href="/"><img src="/img/logo.png" alt="header-img"></a></li>
                <li><a href="#Smartphones">Smartphones</a></li>
                <li><a href="#Tablets">Tablets</a></li>
                <li><a href="#Computadoras">Computadoras</a></li>
            </ul>
            <ul class="header-nav-right-links">
                <li><a href="/login">Login</a></li>
                <li><a href="#Carrito">Registro</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <form action="" method="" enctype="multipart/form-data">
                <h1>Registrate</h1>
                <div class="register-form-wrap-name">
                    <label for="name">Nombre</label>
                    <input type="text" name="name">
                    <span>Obligatorio</span>
                </div>
                <div class="register-form-wrap-email">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                    <span>Obligatorio.</span>
                </div>
                <div class="register-form-wrap-password">
                    <label for="password">Nombre</label>
                    <input type="password" name="password">
                    <span>Obligatorio.</span>
                </div>
                <div class="register-form-wrap-country">
                   
                    <span>Obligatorio.</span>
                </div>
                <div class="register-form-wrap-gender">

                </div>
                <div class="register-form-wrap-hobbies">

                </div>
                <div class="register-form-wrap-comments">

                </div>
                <div class="register-form-wrap-terms">

                </div>
                <div class="register-form-wrap-buttons">

                </div>
            </form>
        </div>
    </main> 

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>